@font-face {
    font-family: Trebuchet MS; /* Имя шрифта */
    src: url(../fonts/trebuchet.ttf); /* Путь к файлу со шрифтом */
}

body, a {
    font-family: Trebuchet MS;
    color: #000;
    font-size: 16px;
}

body, html {
    height: 100%;

}

a {
    text-decoration: none;

}

#container {

    min-height: 100%;
}

#main {
    width: 980px;
    margin: 0 auto;
    padding-bottom: 80px;
}

#content {
    width: 730px;
    float: left;
}

#sidebar {
    width: 230px;
    margin-right: 15px;
    float: left;

}

#footer {

    height: 80px;
    width: 980px;
    margin: 0 auto;

}

/***************************** header  ***************************************/
#header_top_wrapper {

}

#header_top {
    height: 200px;
    width: 980px;
    margin: 0 auto;
    background: url(../images/header_bg.png) no-repeat center top;

}

#header_bottom_wrapper {
    background: url(../images/stmn.png) repeat-x center top;

}

#header_bottom {

    width: 980px;
    margin: 0 auto;
    height: 60px;

}

#header_top_left {
    width: 490px;
    float: left;
    margin-top: 45px;
}

#header_top_right {
    width: 490px;
    float: left;
    margin-top: 70px;
}

#main_menu {

}

#main_menu ul {
    list-style: none;

}

#main_menu ul li {
    float: left;
    margin: 0 10px 0 10px;
}

#main_menu ul li a {

    line-height: 60px;
    color: #0c6db4;
    display: block;
}
#main_menu ul li a:hover{
    background: url('../images/stmo.png')repeat-x;
}
#search {

}

#search form {

}

#search input {
    width: 216px;
    height: 27px;
    float: right;
    border-radius: 5px;
    margin-top: 17px;
    border: 1px solid #b9b9b9;
    font-size: 11px;
    background: url('../images/search_icon.png') no-repeat 8px 50%;
    padding: 0 0 0 34px;
    margin-right: 20px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#logo img {
    animation-name: rotate;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#logo {
    margin-left: 55px;
}

#logo_title p {
    color: #0c6db4;
}

#contacts_wrapper {
    float: right;
}

#contacts_wrapper p {
    text-align: right;
    margin-bottom: 13px;
}

#phone {

}

#email {
    color: #0c6db4;

}

#address {
    color: #0c6db4;
    font-size: 12px;
    padding-right: 20px;
    background: url('../images/address_icon.png') no-repeat 100% 0;
}

/***************************** footer  ***************************************/
#footer_wrapper {
    height: 80px;
    margin-top: -80px;
    background: url(../images/footer_wrapper.png) repeat-x center top;
    font-size: 12px;

}

#footer_left {
    float: left;
    padding-top: 10px;
}

#footer_right {
    float: right;
    padding-top: 5px;
}

#footer_right p {
    text-align: center;
}

/**************************************content***************************************/
#content_top {
    float: left;
    padding-top: 30px;
    padding-bottom: 10px;
}

#content_bottom {
    height: 430px;
    float: left;
    width: 730px;

}

#content_top div {
    width: 153px;
    height: 150px;
    float: left;
    padding: 8px 9px;
    margin:0 10px 0px 0;
    background: url(../images/img_bg.png)no-repeat;
    text-align: center;
    vertical-align: middle;
}
#content_top div a{
    display: block;
}
#content_top div a img{



    max-width: 100%;
    max-height: 100%;
}
#content_top div a p{
    padding: 5px 0 0 0;
    font-size: 11px;
    color: #3a3a3a;
    text-align: center;
    line-height: 10px;
}
#news_title {
    height: 32px;
    background: url("../images/news_bg.png") no-repeat center top;

}

#news_title p {
    padding: 7px 50px;

}

#news_wrapper div {
    width: 230px;
    float: left;
    margin-left: 10px;
    margin-top: 25px;
    font-size: 12px;
}

#news_wrapper div p {
    color: #0c6db4;
    padding-bottom: 5px;

}

#news_wrapper div a {
    text-align: right;
    color: #0c6db4;
    padding-top: 20px;
    display: block;
    font-size: 12px;
}

/*******************sidebar*********************************************************/

#sidebar{

}
#sidebar_top{
    margin-bottom: 20px;

}

#sidebar_bottom{

}
#sidebar_top ul li{
    padding-left: 5px;
    padding-top: 4px;
}
#sidebar_top ul li:nth-child(odd){
    background-color: #aed4eb;
}
#sidebar_top ul li:nth-child(even){
    background-color: #e9f5f7;
}
#sidebar_top ul li[id='sidebar_menu']{
    background: url(../images/left_side_bg_blue.png) no-repeat center top;
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
    height: 35px;

}
#sidebar_top ul li[id='sidebar_menu'] span{
    padding-left: 60px;
    padding-top: 3px;
    display: block;

}
#sidebar_top ul li{
    width: 230px;
    height: 40px;
    list-style-type: none;



}
#sidebar_top ul li a{
    color: #0c6db4;
    font-size: 12px;

    background: url(../images/side_treug.png)no-repeat 0% 8%;
    padding-left: 10px;
    display: block;
    height: 40px;
    text-align: left;

}
#sidebar_top ul li a:hover{
    color: #fff;
}
#sidebar_top ul li:hover{
    background-color: #0c6db4;
}

/*стрелка*/
/*#sidebar_top .arrow:before{
    content: "\25b6";
    color: gray;
    font-size: 10px;

    position: absolute;
}*/

#sidebar_bottom iframe{
    width: 230px;
    height: 180px;
}




